.current-amount {
  margin-left: 44px;
  margin-top: 24px;
}

.amt-p {
  width: 187px;
  height: 21px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #dcdcec;
}

.amt-input {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 50px;

  border: 1px solid rgba(110, 86, 248, 0.25);
  border-radius: 5px;
}

.amt-input p {
  margin-right: 15px;

  width: 25px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}

.amt-input input {
  margin-left: 15px;
  padding: 3px;
  height: 100%;
  width: 70%;

  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 142%;
  /* or 31px */

  color: #6f6f7e;
  background-color: #0b0819;
}

.amt-input input:focus {
  outline: none;
}
